.row {
  display: flex;
  width: 100%;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0.8em 0;
  border-bottom: 1px solid #e1e1e1;
  font-size: 1.550em;
}

.row .button--check {
  display: flex;
  border-radius: 0.625em;
  height: 1.250em;
  width: 1.250em;
  border: 1px solid #aed9da;
  margin-right: 0.938em;
  font-size: 0.625em;
  justify-content: center;
  align-items: center;
}

.row .button--check-complete {
  background: #2ebaef;
  border: 1px solid #2ebaef;
}

.row .button--check-incomplete {
  background: white;
}
.settings {
  display: flex;
}
.settings a,
a:visited {
  display: flex;
  height: 1.55em;
  width: 1.55em;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  border: none;
  font-size: 0.6em;
  text-decoration: none;
}
.settings .button {
  display: flex;
  height: 1.55em;
  min-width: fit-content;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  border: none;
  font-size: 0.6em;
  padding: 0 0.4em 0 0.4em;
  background: #3ddad775;
  color: black;
}
.settings .button--edit {
}
.settings .button--remove {
}
